*~
*.log
Makefile.conf
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
t.gpr
tests.xml
security-tests.xml
bin/
obj/
lib/
security-aunit.xml
docs/security-book.html
docs/security-book.pdf
regtests/results
alire
cover
security.cov
samples.properties.priv
wiki
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
